<nz-breadcrumb>
  <nz-breadcrumb-item><a href="/home">Home</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>Content</nz-breadcrumb-item>
  <nz-breadcrumb-item>MITRE ATT&CK</nz-breadcrumb-item>
</nz-breadcrumb>
<div nz-row class="inner-content">
  <div nz-col nzSpan="3" class="mitre-tatics">
    <ul nz-menu>
      <ng-container *ngFor="let data of mitre_tatic">
        <li nz-menu-item onclick="get_mitre_technique(data.id)">
          {{ data.name }}
        </li>
      </ng-container>
    </ul>
  </div>
  <div nz-col nzSpan="6" class="mitre-techniques">
    <ul nz-menu>
      <ng-container *ngFor="let data of mitre_technique">
        <li nz-menu-item onclick="get_rule_content(data.id)">{{ data }}</li>
      </ng-container>
    </ul>
  </div>
  <div nz-col [nzSpan]="15" [nzPull]="-2" class="tech_content">
    <ul nz-menu>
      <ng-container *ngFor="let data of drive_compromise">
        <li nz-menu-item>{{ data }}</li>
      </ng-container>
    </ul>
  </div>
</div>
