nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
  max-height: 900px;
  // height: 100%;
}

.mitre-tatics{
  max-height: 100%;
  overflow: auto;
}
